<h2>Hello!</h2>
<p>Your login verification code is:</p>

<p style="font-size: 24px; font-weight: bold;">
  <%= @user.verification_code %>
</p>

<p>Please return to the website and enter this code to log in.</p>